.tpk {
    font-family: monospace;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

.tpk span {
    color: white;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff;
    animation: glow 2s infinite;
}

@keyframes glow {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.tpk span:nth-child(1) {
    animation-delay: 0s;
}

.tpk span:nth-child(2) {
    animation-delay: 0.2s;
}

.tpk span:nth-child(3) {
    animation-delay: 0.4s;
}

.tpk span:nth-child(4) {
    animation-delay: 0.6s;
}

.tpk span:nth-child(5) {
    animation-delay: 0.8s;
}

.tpk span:nth-child(6) {
    animation-delay: 1s;
}

.tpk span:nth-child(7) {
    animation-delay: 1.2s;
}

.tpk span:nth-child(8) {
    animation-delay: 1.4s;
}

.tpk span:nth-child(9) {
    animation-delay: 1.6s;
}

.tpk span:nth-child(10) {
    animation-delay: 1.8s;
}

.tpk span:nth-child(11) {
    animation-delay: 2s;
}

.tpk span:nth-child(12) {
    animation-delay: 2.2s;
}

.tpk span:nth-child(13) {
    animation-delay: 2.4s;
}

:root {
    --notification-background: #313e2c;
    --notification-primary: #aaec8a;
    --background: #FAF9FF;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.notification {
    position: fixed;
    width: max-content;
    left: 0; 
    right: 0; 
    bottom: 24px;
    margin-left: auto; 
    margin-right: auto; 
    border-radius: 6px;
    background-color: var(
        --notification-background);
    color: var(--notification-primary);
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
    transform: translateY(30px);
    opacity: 0;
    visibility: hidden;
    animation: fade-in 5s linear;
}

.notification__icon {
    height: 26px;
    width: 26px;
    margin-right: 4px;
}

.notification__body {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px 8px;
}

.notification__progress {
    position: absolute;
    left: 4px;
    bottom: 4px;
    width: calc(100% - 8px);
    height: 3px;
    transform: scaleX(0);
    transform-origin: left;
    background: linear-gradient(
        to right, 
        var(--notification-background),  
        var(--notification-primary)
    );
    border-radius: inherit;
    animation: progress 5s linear;
}

@keyframes fade-in {
    5% {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }
    95% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes progress {
    to {
        transform: scaleX(1);
    }
}

/* Waves */

.header {
  position:relative;
  text-align:center;
  background: transparent;
  color:white;
}
.logo {
  width:50px;
  fill:white;
  padding-right:15px;
  display:inline-block;
  vertical-align: middle;
}

.waves {
  position:relative;
  width: 100%;
  height:15vh;
  margin-bottom:-7px; /*Fix for safari gap*/
  min-height:100px;
  max-height:150px;
}

.content {
  position:relative;
  height:20vh;
  text-align:center;
  background-color: white;
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height:40px;
    min-height:40px;
  }
  .content {
    height:30vh;
  }
  h1 {
    font-size:24px;
  }
}