.tpk {
    font-family: monospace;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

.tpk span {
    color: white;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff;
    animation: glow 2s infinite;
}

@keyframes glow {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.tpk span:nth-child(1) {
    animation-delay: 0s;
}

.tpk span:nth-child(2) {
    animation-delay: 0.2s;
}

.tpk span:nth-child(3) {
    animation-delay: 0.4s;
}

.tpk span:nth-child(4) {
    animation-delay: 0.6s;
}

.tpk span:nth-child(5) {
    animation-delay: 0.8s;
}

.tpk span:nth-child(6) {
    animation-delay: 1s;
}

.tpk span:nth-child(7) {
    animation-delay: 1.2s;
}

.tpk span:nth-child(8) {
    animation-delay: 1.4s;
}

.tpk span:nth-child(9) {
    animation-delay: 1.6s;
}

.tpk span:nth-child(10) {
    animation-delay: 1.8s;
}

.tpk span:nth-child(11) {
    animation-delay: 2s;
}

.tpk span:nth-child(12) {
    animation-delay: 2.2s;
}

.tpk span:nth-child(13) {
    animation-delay: 2.4s;
}
