.tpk {
    color: hsl(0, 0%, 28%);
    font-size: 30px;
    font-weight: bold;
    font-family: monospace;
    letter-spacing: 0px;
    cursor: pointer;
}

.tpk span {
    transition: 0.5s ease-out;
}

.tpk:hover span:nth-child(1) {
    margin-right: 5px;
}

/* .tpk:hover span:nth-child(1):after {
    content: "'";
} */

.tpk:hover span:nth-child(2) {
    margin-left: 30px;
}

.tpk:hover span {
    color: #fff;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #fff;
}
